# Base de donnees (SQLite local ou PostgreSQL)
DATABASE_URL="file:./dev.db"

# Secret JWT (min 32 caracteres)
JWT_SECRET="your-jwt-secret-min-32-chars-long"

# WhatsApp Cloud API (Meta Developers)
WHATSAPP_TOKEN=""
PHONE_NUMBER_ID=""

# Stockage d'images Cloudinary
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_UPLOAD_PRESET="agritroc_unsigned"
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Super Admin Phone
SUPER_ADMIN_PHONE="+221770000000"

# URL de l'application
NEXT_PUBLIC_APP_URL="http://localhost:3000"
